<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="/mainpage" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="d-flex align-items-center">Proctor</h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/mainpage" class="active">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="/board/notice_list">Notice</a></li>
        <li><a href="/table">Board</a></li>
        <li><a href="team.html">Team</a></li>
        <li><a href="/post">Blog</a></li>
        {% if user.userrole == 'admin' %}
          <li class="dropdown"><a href="#"><span>작성</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/table/addTest">시험목록 작성</a></li>
              </li>
              <li><a href="#">공지사항 작성</a></li>
            </ul>
          </li>
        {% endif %}
        {% if user.userrole == 'student' %}
        <li class="dropdown"><a href="#"><span>작성</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/post/write">이의제기</a></li>
          </ul>
        </li>
        {% endif %}

        {% if user.is_authenticated%}
          <li class="dropdown"><a href="#"><span>{{user.username}}</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="{% url 'UserApp:logout' %}">Logout</a></li>

        {% else %}
            <li><a href="{% url 'UserApp:login' %}">Login</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->